<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quicky.wifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="adnroid.permission.ACCESS_CHECKIN_PROPERTTES" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:name="com.location.main.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/quickyicon"
        android:label="Quickey"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cN7lldMb6jm362XLi3dlbOG5" />

        <activity
            android:name="com.main.activity.TestUIActivity"
            android:label="@string/title_activity_conn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
                <activity
            android:name="com.wifi.activity.ConnActivity"
            android:label="@string/title_activity_conn" >
            </activity>
        <activity
            android:name="com.wifi.activity.ChatActivity"
            android:label="@string/app_name" >
        </activity>
                <activity
            android:name="com.wifi.activity.FileBrowser"
            android:label="@string/app_name" >
        </activity>
        -->

        <activity
            android:name="com.bluetooth.activity.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device" />

        <activity
            android:name="com.bluetooth.activity.BluetoothChatActivity"
            android:label="@string/app_name" >
        </activity>
        
                <activity
            android:name="com.bluetooth.activity.SecondActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.wifi.imgchooser.imageloader.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.location.main.LocationDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.location.main.LocationActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <activity
            android:name="com.example.wificam.WificamActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.location.main.LocationWiFiDirectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.wifidirect.core.WiFiDirectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo" >
        </activity>

        <!-- Used for transferring files  after a successful connection -->
        <service
            android:name="com.wifidirect.core.FileTransferService"
            android:enabled="true" />
        <service
            android:name="com.location.main.LocationTransferService"
            android:enabled="true" />

        <receiver 
            android:name="com.bluetooth.service.CallBroadCast">
             <intent-filter>
                <action android:name="call.broastcast" />
                
            </intent-filter>
        </receiver>
        <!--
        <service 
            android:name="com.wifi.service.SendMessageService"></service>
                <service 
            android:name="com.wifi.service.ServerService"></service>
        -->
        <activity
            android:name="com.finding.main.FindingActivity"
            android:label="@string/title_activity_finding" >
        </activity>
    </application>
    <!--
    <application        
        android:name="com.location.main.DemoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cN7lldMb6jm362XLi3dlbOG5" />
        
        <activity
            android:name="com.location.main.LocationDemo"
            android:label="@string/app_name" >
        </activity> 
        
        </application>
    -->

</manifest>